.container-fluid {
    text-align: center; 
}
#temperature {
    font-size: 20px;
    max-height: 100px;
}
h4 {
    padding: 25px 0;
}
#icon {
    height: 100px;
    width: 100px;
}
.col-xs-6.icon {
    text-align: right;
}
.col-xs-6.temperature {
    text-align: left;
    height: 100px;
}
.col-xs-4 {
    text-align: center;
}
.thumbnail {
    max-width: 31%;
    margin: auto 1%;
    background: white;
}
.col-xs-6.btn {
    max-width: 30%;
    margin: auto 10%;
}