#temperature {
    font-size: 20px;
    max-height: 100px;
}
h4 {
    padding: 25px 0;
}
#icon {
    height: 100px;
    width: 100px;
    text-align: right;
}
.col-xs-6.icon {
    text-align: right;
}
.col-xs-6.temperature {
    text-align: left;
    height: 100px;
}